body{
	background-image: url("images/background.jpg");
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.page{
	background: white;
	margin: auto;
	width: 900px;
	border-style: double;
}

.header{
	background: #063458;
	padding: 10px;
	border-style: outset;
}

.content{
	padding: 10px;
}

.main{
	width: 480px;
	float: right;
}

.Info{
	width: 300px;
	float: left;
	border-style: outset;

}

.footer{
	clear: both;
	padding: 10px;
	background-color: #16E6FF;
	color: white;
	text-align: right; 
}
.header h1{
	color: white;
	text-align: center;
}

button{
	padding: 10px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background: #359DB6;
	cursor: pointer;
	color: white;
}

#home{
	padding: 10px;
	text-transform: uppercase;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	background: #359DB6;
	cursor: pointer;
	color: white;
}

.Info #cardInfo{
	list-style-type:none;
} 

.Info #ticketInfo{
	list-style-type:none;
} 
